@using Hangman.Models;

<h1>Game</h1>
<h3>Guesses so far</h3>
<ul>
  @foreach (Guess guess in Model)
  {
    <li>@guess.Letter</li>
  }
</ul>

<p><a href="/game/guess/new">Guess again</a></p>
<p><a href="/">Go start new game.</a></p>