<h1>Guess another letter</h1>

<form action="/game" method="post">
  <label for="inputLetter">Input letter:</label>
  <input id="inputLetter" name="inputLetter" type="text">
  <button type='submit'>Submit</button>
</form>